* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .parent {
    position: relative;
    top: 120px;
    left: 35%;
    width: 300px;
    height: 450px;
    border: 2px solid rgb(182, 181, 181);
    border-radius: 15px;
    padding: 8px;
    margin: 20px;
    /* box-shadow: 2px 2px 2px black; */
  }

  img {
    height: 170px;
    border-radius: 10px;
    width: 300px;
    /* box-shadow: 2px 2px 2px black; */
  }

  .box {
    margin: 12px 5px;
  }

  span {
    border: 1px solid rgb(182, 181, 181);
    color: rgb(182, 181, 181);
    border-radius: 30px;
    padding: 2px;
  }

  p {
    color: rgb(182, 181, 181);
    margin-top: 10px;
  }

  .button {
    display: flex;
    margin-top: 15px;
    justify-content: center;
  }
  button {
    padding: 15px;
    margin: 2px;
    border: 1px solid black;
    border-radius: 30px;
    background-color: rgb(221, 232, 252);
    color: rgba(14, 134, 239, 0.52);
    cursor: zoom-in;
  }